
/*Configuration de menu à droite*/
.menu {
    position: relative;
    min-width: 20%;
    min-height: 80%;
    float: right;
    background-color: #0c5a17;
    border-radius: 30px 0px 0px 30px;
}
.menu > p {
    padding: 15px;
    margin: 0;
    text-align: center;
}
.menu > p:hover{
    background-color: #04200f;
}
.menu > div {
    margin-top: 40px;
}
.menu > p > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

/*Configuration de l'entete et pied de page*/
header {
    max-width: 80%;
}
footer{
    min-width: 99%;
    float: left;
    padding-left: 1%;
    width: 80%;
    background-color: #0c5a17;
}
.decoration{
    margin: 0px 0px 0px 30px;
    height: 10px;
    width: 40%;
    background-color: #8A6C4E;
    border-radius: 50px;
}
header > h1{
    padding: 0px 0px 0px 50px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Contenu principale */
main {
    max-width: 80%;
    display: flex;
}
body {
    min-width: 1000px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(43, 43, 43);
}
/*body {
    background-image: url("https://img.freepik.com/free-vector/modern-dark-texture-background_1035-11632.jpg?w=900&t=st=1647877368~exp=1647877968~hmac=3297c6ea16f6e2a9e4063e7452a9f3d3a640feaaeeef76007af7e78f7584daf0");
    background-repeat: no-repeat;
    background-color: rgb(43, 43, 43);
    background-size: cover;
} */
.accueil-contenu > h2 {
    padding: 0px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    
}
h1, h2, h3, h4, h5, h6{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    margin-right: 5px;
    margin-right: 50px;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}

.flex-container {
    background-color: #585858;
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;
    font-size: 30px;
    max-width: 80%;
    border-radius: 10px;
}
.flex-container > div {
    padding: 10px;
    font-size: 30px;
}

.avatar {
    width: 300px;
    border-radius: 20px;
}
.block-avatar {
    height: 400px;
}
/* Effet visuel sur la photo*/
img {
    transition: 0.3s;
}
img:hover {
    transform: scale(1.1);
}
.tabAnnee {
    padding-right: 60px;
    padding-left: 20px;
}

/* Page accueil*/
.text-decor {
    color: #107e1f;
    font-style: italic;
    font-size: 18px;
}

/* Page education*/
td{
    font-size: 16px;
    color: aliceblue;
}
h6{
    margin: 0px;
    padding-bottom: 5px;
}
.block{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: groove;
}

/* Page projets */
.projet {
    width: 200px;
}
.flex-wrap{
    background-color: #585858;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    max-width: 80%;
    border-radius: 10px;
    flex-wrap: wrap;
}
.flex-wrap > div {
    padding: 20px;
    font-size: 30px;
    flex-grow: 3;
}

.lienDecor{
    text-decoration: none;
    color: white;
}