
/*Configuration de menu à droite*/
.menu {
    min-width: 20%;
    min-height: 80%;
    float: right;
    background-color: #0c5a17;
    border-radius: 30px 0px 0px 30px;
}
.menu-bouton{
    padding: 15px;
    margin: 0;
    text-align: center;
}
.menu-bouton:hover{
    background-color: #04200f;
}
.espace {
    margin-bottom: 90px;
}
#mn{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

/*Configuration de l'entete*/
footer{
    min-width: 100%;
    float: left;
    padding-left: 1%;
    width: 80%;
    background-color: #0c5a17;
}
header {
    max-width: 80%;
}
.decoration{
    margin: 0px 0px 0px 30px;
    height: 10px;
    width: 40%;
    background-color: #8A6C4E;
    border-radius: 50px;
}
h1{
    padding: 0px 0px 0px 50px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Contenu principale */
main{
    max-width: 80%;
    display: flex;
}
body {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(49, 47, 47);
    min-width: 1000px;
}
h2 {
    padding: 0px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
h3, h2, h4, h5, h6{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    margin-right: 5px;
    color: aliceblue;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
    background-color: #585858;
    margin: 20px 20px 0px 0px;
    padding: 10px;
    font-size: 30px;
    max-width: 80%;
    border-radius: 10px;
}
.flex-container > div {
    padding: 20px;
    font-size: 30px;
  }
.avatar {
    width: 300px;
    border-radius: 20px;
}
.block-avatar {
    height: 400px;
}
.tabAnnee {
    padding-right: 60px;
    padding-left: 20px;
}

/* Page accueil*/
.text-decor {
    color: #107e1f;
    font-style: italic;
    font-size: 18px;
}

/* Page education*/
td{
    font-size: 16px;
    color: aliceblue;
}
h6{
    margin: 0px;
    padding-bottom: 5px;
}
.block{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: groove;
}

/* Page projets */
.projet {
    width: 200px;
}
.flex-wrap{
    background-color: #585858;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    max-width: 80%;
    border-radius: 10px;
    flex-wrap: wrap;
}
.flex-wrap > div {
    padding: 20px;
    font-size: 30px;
    flex-grow: 3;
}

.lienDecor{
    text-decoration: none;
    color: white;
}